<div class="boxes">
  <div class="box">
    <div class="left">
      <h2>{{ 'customer.activate_account.title' | t }}</h2>
    </div>
    <div class="right">
      <h3>{{ 'customer.activate_account.subtitle' | t }}</h3>
      {% include 'form-activate-customer' %}
    </div>
  </div>
</div>