<div class="boxes">
  <div class="box">
    <div class="left">
      <h2>{{ 'customer.addresses.title_html' | t }}</h2>
    </div>
    <div class="right">
      {% if customer.addresses_count > 0 %}
        <h3>{{ 'customer.addresses.subtitle' | t }}</h3>
        <div class="addresses">
          {% paginate customer.addresses by 12 %}  
            {% for address in customer.addresses %}
              {% include 'address' %}
              {% include 'address-edit' %}
            {% endfor %}
            {% include 'pagination' %}
          {% endpaginate %}
        </div>
      {% else %}
        <h3>{{ 'customer.addresses.empty' | t }}</h3>
      {% endif %}
     {% include 'address-new' %}
    </div>
  </div>
</div>

<script type="text/javascript">
  window.customer_addresses = [];
  {% for address in customer.addresses %}
    window.customer_addresses.push({{address.id}});
  {% endfor %}
</script>