<div class="boxes">
  <div class="box">
    <div class="left">
      <h2>{{ 'customer.reset_password.title_html' | t }}</h2>
    </div>
    <div class="right">
      <h3>{{ 'customer.reset_password.subtitle' | t: email: email }}</h3>
      {% include 'form-reset-password' %}
      {% include 'return-to-store' %}
    </div>
  </div>
</div>