{% if settings.home_page_content != empty %}
    <div class="
    grid__item
    large--three-quarters
    medium--two-thirds ">
    {% if settings.home_show_headings and settings.home_page_show_heading %}
    <div class="section-header section-header--small">
      <h2 class="section-header__title">{{ pages[settings.home_page_content].title }}</h2>
    </div>
    {% endif %}
    <div class="rte">
      {{ pages[settings.home_page_content].content }}
    </div>
    </div>
    <div class="
    grid__item
    large--one-quarter
    medium--one-third
    ">
      <div>
        {{ 'vfaq.jpg' | asset_url | img_tag }}
        <div>
          <p>{{'For wholesale inquires, please email us at' | upcase}} vapeempire.us@gmail.com</p>
        </div>
      </div>


          <div>
            <h4>BECOME A MEMBER</h4>
          	<p>Be the first to get exclusive discounts and updates</p>
          	<a href=""><p>LEARN MORE</p></a>
          </div>
    </div>
  </div>
{% endif %}
