{% if settings.home_page_content != empty %}

    <div class="
    grid__item
    large--three-quarters
    medium--two-thirds noMarginy">
    {% if settings.home_show_headings and settings.home_page_show_heading %}
    <div class="section-header section-header--small">
      <h2 class="section-header__title" style='background-color: #6e1a2f; color: white; padding: 5px;'>{{ pages[settings.home_page_content].title }}</h2>
    </div>
    {% endif %}
    <div class="rte lineheight">
      {{ pages[settings.home_page_content].content }}
    </div>
    </div>
    <div class="
    grid__item
    large--one-quarter
    medium--one-third
     backgroundy">
      <div class='faqBox'>
        {{ 'vfaq.jpg' | asset_url | img_tag: 'image that says click here for news and updates about all things vape world', 'centery' }}
        <div>
          <p class='whiteTexty'>{{'For wholesale inquires, please email us at' | upcase}} vapeempire.us@gmail.com</p>
        </div>
      </div>

          <h4 class='blackbacky centery'>BECOME A MEMBER</h4>
          <div class='burgundy'>
          	<p class='centery'>Be the first to get exclusive discounts and updates</p>
            <br />
          	<a href=""><p class='blackbacky centery marginy'>LEARN MORE</p></a>
          </div>
    </div>
  </div>
{% endif %}

<style>
.backgroundy {
  background-color: ;
  padding: 0;
}
.faqBox {
  background-color: #9B4F25;
  margin: 0 auto;
  border: 15px solid #8A786D;
}

.burgundy {
  background-color: #6E1A2F;
  color: white;
  padding: 15px;
}

.blackbacky {
  background-color: #231F20;
  color: white;
}

.whiteTexty {
  color:white;
  text-align: center;
}

.centery {
  display: block;
  margin: auto;
  text-align:center;
}

.marginy {
  max-width: 100px;
  font-size: 14px;
}

.noMarginy {
  position: relative;
  right: 30px;
}

</style>
