<div class="content">
  <div class="inner">
    <div class="table">
      <div class="row">
        {% include 'password-landing' %}
        {% include 'password-login' %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Password page",
  "class": "password-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "logo_max_width",
      "label": "Custom logo width (in pixels)",
      "default": "300"
    },
    {
      "type": "checkbox",
      "id": "use_uppercase",
      "label": "Use uppercase in text logo",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": "Show newsletter signup",
      "default": true
    },
    {
      "type": "paragraph",
      "content": "Any customers who sign up will have an account created for them in Shopify. [View sign ups](/admin/customers?query=&tag=prospect)."
    }
  ]
}

{% endschema %}