{% unless section.settings.tagline == blank %}
<div class='h1 dn db-ns tr'>
  <img src={{ 'indiaMap.png' | asset_url }} alt="map of the indian peninsula" class="dib">
</div>
<div class="rich-text bg-orangy ">
  <div id="rte" class="center">
    <div class="f3 tracked">{{ section.settings.tagline | escape }}</div>
  </div>
</div>
<div class='dn db-l relative ml0'>
    <div class="absolute bottom-5 z-999 h-100 w-25 ">
      <img src={{ 'leftCloud.png' | asset_url }} alt="small cloud">
    </div>
</div>


{% else %}
  {% include 'no-blocks' %}
{% endunless %}

{% schema %}
{
  "name": "Tagline",
  "settings": [
    {
      "type": "textarea",
      "id": "tagline",
      "label": "Tagline",
      "default": "Your Store Tagline."
    }
  ],
  "presets": [
    {
      "name": "Tagline",
      "category": "Text"
    }
  ]
}
{% endschema %}
