.bg-brown {
  background-color: #403222;
}

.bg-dark-brown {
  background-color: #2c2417;
}

.bg-jungle {
  background-color: #aac985;
}

.jungle {
  color: #aac985;
}

.bg-orangy {
  background-color: #fead29;
}

.orangy {
  color: #fead29;
}
