{% form 'reset_customer_password' %}
  <div class="row">
    <input class="text long{% if form.errors contains 'password' %} error{% endif %}" name="customer[password]" id="reset_password" placeholder="{{ 'customer.reset_password.password' | t }}" type="password">
    {% include 'form-field-error', field: 'password' %}
  </div>
  <div class="row">
    <input class="text long{% if form.errors contains 'password_confirmation' %} error{% endif %}" name="customer[password_confirmation]" id="password_confirmation" placeholder="{{ 'customer.reset_password.password_confirm' | t }}" type="password">
    {% include 'form-field-error', field: 'password_confirmation' %}
  </div>
  {% include 'form-errors' %}
  <div class="row actions expanded-top">
    <button class="btn solid {{ settings.button_shape }}" name="commit" type="submit">
      {{ 'customer.reset_password.submit_html' | t }}
    </button>
  </div>
{% endform %}