{% form 'recover_customer_password' %}
  <div class="row">
    <input type="email" class="text long" name="email" id="recover-email" placeholder="{{ 'customer.login.email' | t }}" autocorrect="off" autocapitalize="off">
    {% include 'form-field-error', field: 'email' %}
  </div>
  {% include 'form-errors' %}
  <div class="row actions expanded-top">
    <button type="submit" class="btn solid" formnovalidate="formnovalidate">
      {{ 'customer.login.password_action_html' | t }}
    </button>
  </div>
  <div class="row back">
    {% capture link %}<a class="underline" data-action="toggle-recover-password">{{ 'customer.login.password_cancel' | t }}</a>{% endcapture %}
    {{ 'general.navigation.cancel_html' | t: link: link }}
  </div>
{% endform %}