{% form 'guest_login' %}
  <div class="row actions">
    <button type="submit" class="btn solid {{ settings.button_shape }}">
      {{ 'customer.login.guest_action_html' | t }}
    </button>
  </div>
{% endform %}