<div class="side-cart">
  <div class="side-cart-header">
    <h2>{{ 'cart.general.title_html' | t | strip_html }}</h2>
  </div>
  <div class="side-cart-container">
    <!-- Check snippets/ajax-cart-template.liquid -->
  </div>
  <a href="#" data-action="toggle-cart" class="close" tabindex="-1">
    <i class="fc fc-close"></i>
  </a>
</div>