
<div class="content">
    <article class="pb5">
  <header class="vh-100 dt w-100">
    <div
      style="background:url(https://cdn.shopify.com/s/files/1/2152/4371/files/tiger-in-lake-dark.jpg?14174068035137993257) no-repeat center right;background-size: cover;"
      class="dtc v-mid cover ph3 ph4-m ph5-l">
      <h1 class="f2 f-subheadline-l measure lh-title fw9 orangy">Mariamma Charitable Trust </h1>
      <h2 class="f6 fw6 orangy">Saving Tigers</h2>
    </div>
  </header>
  <div class="serif ph3 ph4-m ph5-l">
    <p class="lh-copy f5 f3-m f1-l measure center pv4">
      We're based in Southern India, in the Western Ghats working within a cluster of villages in the eastern part of the Bandipur Tiger Reserve.</p>
    <div class="f5 f3-m lh-copy">
      <div class="cf dt-l w-100 bt mb4 b--black-10 pv4">
        <div class="dtc-l v-mid mw6 pr3-l w-100 w-100-m w-50-ns center">
          <img class="w-100 " src="https://cdn.shopify.com/s/files/1/2152/4371/files/elephants.jpg?3393552452008815799" alt=""/>
        </div>
        <div class="dtc-l v-mid f6 f5-m f4-l measure-l w-100 w-100-m w-50-ns ">
          <p class="measure center">
            <span class="fw9 fw4-ns">
              Before it burned to the ground, the structure</span>

We're at the center of a biodiversity hot spot and home to:</p>
<ul class="measure pv4-l center list pl4">
<li>600 tigers</li>
<li>8000 elephants</li>
<li>248 native landscape species</li>
<li>55 critically endangered species</li>
<li>148 endangered species</li>
<li>127 vulnerable species</li>
</ul>
  <p class="measure center">
We're in one of the world's most important conservation areas.
          </p>
        </div>
      </div>




      <article class="cf bt pv4 b--black-10">
  <div class="fl w-100 w-50-ns bg-near-white tc">
    <img src="https://cdn.shopify.com/s/files/1/2152/4371/files/The_human_perspective.jpg?181996344153162784" class="w-100 f5 " alt="Photo of outer space">
  </div>
  <div class="fl w-100 w-50-ns bg-near-white tc">
    <img src="https://cdn.shopify.com/s/files/1/2152/4371/files/The_wildlife_perspective-1.jpg?181996344153162784" class="w-100 f5 " alt="Photo of outer space">
  </div>
</article>


<section class="cf">
  <header class="tc ph4 w-100">
    <h1 class="f3 f2-m f1-l fw2 black-90 mv3">
      OUR INITIATIVES
    </h1>
  </header>
  <div class="fl w-100 w-50-m w-25-l tc pv4"><article class="mw5 center bg-white br3 pa3 pa4-ns mv3 ">
  <div class="tc">
    <img src="https://cdn.shopify.com/s/files/1/2152/4371/files/compensation.png?9212872142453912528" class="h3 w3 dib" title="Photo of a kitty staring at you">
    <h1 class="f4">Compensation Scheme</h1>
    <hr class="mw3 bb bw1 b--black-10 center">
  </div>
  <p class="lh-copy measure center f6 black-70">

A swift, generous and transparent compensation payment is made to the livestock owners when wildlife kill cattle, goats or sheep. This discourages subsequent retaliation killings by poisoning carcuses.
  </p>
</article></div>
  <div class="fl w-100 w-50-m w-25-l tc pv4"><article class="mw5 center bg-white br3 pa3 pa4-ns mv3">
  <div class="tc">
    <img src="https://cdn.shopify.com/s/files/1/2152/4371/files/disease_control-1.png?9212872142453912528" class="h3 w3 dib" title="Photo of a kitty staring at you">
    <h1 class="f4">Disease Control </h1>
    <hr class="mw3 bb bw1 b--black-10 center">
  </div>
  <p class="lh-copy measure center f6 black-70">

A birth control programme for dogs and a vaccination programme, in collaboration with the WWF, to prevent the spread of canine distemper and rabies. The canine distemper virus can kill tigers.
  </p>
</article></div>
  <div class="fl w-100 w-50-m w-25-l tc pv4"><article class="mw5 center bg-white br3 pa3 pa4-ns mv3">
  <div class="tc">
    <img src="https://cdn.shopify.com/s/files/1/2152/4371/files/Medical.png?9212872142453912528" class="h3 w3 dib" title="Photo of a kitty staring at you">
    <h1 class="f4">Medical Care</h1>
    <hr class="mw3 bb bw1 b--black-10 center">
  </div>
  <p class="lh-copy measure center f6 black-70">

A free medical clinic, a daily nurse and a monthly volunteer doctor to help improve health and physical well-being.
  </p>
</article></div>
  <div class="fl w-100 w-50-m w-25-l tc pv4"><article class="mw5 center bg-white br3 pa3 pa4-ns mv3">
  <div class="tc">
    <img src="https://cdn.shopify.com/s/files/1/2152/4371/files/education.png?9212872142453912528" class="h3 w3 dib" title="Photo of a kitty staring at you">
    <h1 class="f4">Education & Training</h1>
    <hr class="mw3 bb bw1 b--black-10 center">
  </div>
  <p class="lh-copy measure center f6 black-70">

 A significant new project to build and equip an education and training centre where local women will be trained to use hand looms and produce items that they can sell.

Help is urgently required
  </p>
</article></div>
</section>

    </div>
  </div>
</article>
<div class="inner">
<div class="section">
      <h2>{{ page.title }}</h2>
    </div>

    <div id="rte">
      {{ page.content }}
    </div>
  </div>
</div>
